.light {
  --color-bg-first: #f5f8fa;
  --color-border-box:#e1f4fd;
}

.dark {
  --color-bg-first: #2c3e4e;
  --color-border-box:#37556d;
}

.chatbox {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

@media (max-width: 430px) {
  .chatbox {
    width: 92%;
    height: 83%;
    margin-top: 80px;
    padding-left: 2%;
  }
}

@media (min-width: 431px) {
  .chatbox {
    width: 75%;
    height: 93%;
    padding-top: 5%;
    padding-left: 5%;
  }
}

.grid {
  grid-row: 2/3;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: max-content 6fr 2fr;
  box-shadow: 2px 3px 2px 1px rgb(0, 0, 34, 0.3);
}

.grid > div {
  align-content: center;
}

.grid > div > img {
  padding-top: 2px;
  align-self: center;
  
}

.buttonNewChat {
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 0px;
  font-size: 12px;
  color: #d0dde7;
}

.buttonEditProfile {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 20px;
  padding: 0px;
  font-size: 12px;
  color: #d0dde7;
}

/* Display list of avatar active chats*/

.chatsList {
  height: 99%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: "5px";
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatsList > ul {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: "5px";
}

.chatsList > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: "0px";
}

.chatsList > ul > li > div > p {
  width: 56px;
  font-size: 12px;
  text-align: center;
}

.buttonImage {
  padding: 0px;
  width: 56px;
  height: 56px;
}

.buttonViewProfile {
  padding: 0px;
  margin: 0px;
  width: 56px;
  font-size: 12px;
  color: #d0dde7;
}

/* Display messages in Chat style */

.displayMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.displayMessages > ul {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

.displayMessages > ul > li {
  gap: 6px;
  position: relative;
}

.dateTxt {
  text-align: center;
  padding-bottom: 3px;
}

.msgMe {
  margin-left: 2%;
  padding-left: 45%;
  background-color: var(--color-bg-first);
}

.msgOther {
  margin-left: 2%;
  padding-left: 2%;
  background-color: var(--color-border-box);
}

@media (max-width: 430px) {
  .chatsList > ul > li > div > p {
    font-size: 12px;
  }

  .dateTxt {
    font-size: 12px;
  }
  .txt {
    font-size: 12px;
    width: 50%;
    height: auto;
  }

  .NewMessageBox{
    font-size: 12px;
  }
}

@media (min-width: 431px) {
  .chatsList > ul > li > div > p {
    font-size: 16px;
  }

  .dateTxt {
    font-size: 13px;
  }

  .txt {
    font-size: 15px;
    width: 50%;
    height: auto;
  }

  .NewMessageBox{
    font-size: 15px;
  }
}

/* New Message style */

.NewMessageBox{
  background-color: var(--color-bg-first);
  border-top: 1px solid var(--color-border-box);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 3.5fr;
}

.buttonNewMsg {
  padding: 0px;
  margin: 0px;
  width: 80px;
  height: 20px;
  font-size: 12px;
  color: #d0dde7;
}

.NewMessageBox > section {
  background-color:burlywood;
  width: 100%;
  height: 100%;
}


.formTag{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
  position: relative;
}

.labelTag{
 position: absolute;
 top: 1%;
}

.textareaTag{
 height: 60px;
 width: 80%;
}


.buttonClose {
  padding: 0px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  color: #d0dde7;
  transform: translate(100%,-100%);
}

.buttonClose:hover{
  transform: translate(100%,-100%);
}

.buttonSubmit {
  padding: 0px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  color: #d0dde7;
}