/* define light dark colors*/

  .light {
    --color-bg-first: #f5f8fa;
    --color-base-text: #31485b;
    --color-base-text-2: #2c3e4e;
    --color-bg-button: #37556d;
    --color-border-button: #31485b;
    --color-text-a-link: #28c1ef;
    --color-bg-box:#d0dde7;
    --color-border-box:#e1f4fd;
    --color-text-box:#31485b;

  }
  
.dark {
    --color-bg-first: #2c3e4e;
    --color-base-text: #f5f8fa;
    --color-base-text-2: #f5f8fa;
    --color-bg-button: #31485b;
    --color-border-button: #bdeafa;
    --color-text-a-link: #28c1ef;
    --color-bg-box:#31485b;
    --color-border-box:#31485b;
    --color-text-box:#e1f4fd;
  }

  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, input {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  /* end of reset of style browser */
  
  
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: var(--color-text-a-link);
    text-decoration: inherit;
  }
  a:hover {
    color: #ccdf79;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  h2 {
    font-size: 2.5em;
    line-height: 1;
  }
  
  h3 {
    font-size: 1.7em;
    line-height: 1;
  }